@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  background: url(../img/background1.jpg);
}

/* paginas general / index */
.header {
  /* header */
}

.header .bg-animate {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(243, 72, 4, 0.884)), to(#fcc203));
  background: linear-gradient(to top, rgba(243, 72, 4, 0.884), #fcc203);
  position: relative;
  overflow: hidden;
  /* subtite header */
  /* burbujas header */
}

.header .bg-animate .header_nav {
  width: 100%;
  position: absolute;
}

.header .bg-animate .header_nav .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header .bg-animate .header_nav .contenedor h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  margin: auto;
  text-shadow: 0 0 3px #fff;
  padding: 30px;
}

.header .bg-animate .banner-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .bg-animate .banner-contenedor .banner_title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-left: 50px;
}

.header .bg-animate .banner-contenedor .banner_title .subtitle {
  font-size: 2.3rem;
  font-weight: bold;
}

.header .bg-animate .banner-contenedor .banner_title .llamanos {
  color: #000;
  text-decoration: none;
  display: inline-block;
  background: #fff;
  margin: 40px 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0 0 15px 0 #fff;
          box-shadow: 0 0 15px 0 #fff;
}

.header .bg-animate .banner-contenedor .banner_title .llamanos:hover {
  color: #fff;
  background: #000;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
}

.header .bg-animate .banner-contenedor .banner_img {
  -webkit-animation: movimiento 2.5s linear infinite;
          animation: movimiento 2.5s linear infinite;
}

.header .bg-animate .burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  position: absolute;
  bottom: -150;
  -webkit-animation: burbujas 3s linear infinite;
          animation: burbujas 3s linear infinite;
}

.header .bg-animate .burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header .bg-animate .burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.header .bg-animate .burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.header .bg-animate .burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header .bg-animate .burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.header .bg-animate .burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.header .bg-animate .burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.header .bg-animate .burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.header .bg-animate .burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.header .bg-animate .burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  50% {
    opacity: .4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  50% {
    opacity: .4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@-webkit-keyframes movimiento {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes movimiento {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.main {
  overflow: hidden;
  /* redes sociales fixed */
  /* wikipedia, que es la fotografia */
  /* separador del header */
  /* cards */
  /* aos animated scroll */
}

.main .item__sociales {
  position: fixed;
  right: 0;
  top: 40%;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 100;
}

.main [class^="item__sociales"] {
  background: #000;
  border-radius: 3%;
  -webkit-box-shadow: 0 0 6px 0 #000;
          box-shadow: 0 0 6px 0 #000;
  border-radius: 1rem 0 0 1rem;
}

.main [class^="item__sociales"] a {
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main [class^="item__sociales"] a:hover {
  color: rgba(0, 185, 31, 0.884);
}

.main .contenido {
  background: #eb0808;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 72, 4, 0.884)), to(#eb0808));
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #eb0808);
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #eb0808);
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
}

.main .contenido .title {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

.main .contenido .img__camara {
  width: 90%;
  height: 400px;
  margin: 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.main .contenido .parrafo {
  font-size: 1.3rem;
  text-align: left;
  margin: 20px 50px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.main .contenido .butt {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
  background: #fff;
  padding: 20px;
  border-radius: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: 0 0 15px 0 #fff;
          box-shadow: 0 0 15px 0 #fff;
}

.main .contenido .butt:hover {
  color: #fff;
  background: #000;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
}

.main #separador {
  background: #eb0808;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.884)), to(#eb0808));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.884), #eb0808);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.884), #eb0808);
}

.main #separador .port {
  text-align: center;
  padding: 100px 0;
}

.main #separador .text-shadow {
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.main #separador a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.main #separador a:hover {
  color: #aa0f89;
}

.main .index__video {
  background: #000;
  padding: 30px 0;
  -webkit-box-shadow: 0 0 20px 0 #fff;
          box-shadow: 0 0 20px 0 #fff;
}

.main .cards {
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.main .card-border {
  border: 10px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

.main .card-border:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.main .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .btn:hover {
  background: #da0a0a;
  color: #fff;
  -webkit-box-shadow: 0 0 20px 0 #e60101;
          box-shadow: 0 0 20px 0 #e60101;
}

.main .animai {
  color: #fff;
  background: #000;
  -webkit-box-shadow: 0 0 20px 0 #fff;
          box-shadow: 0 0 20px 0 #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 30px 0;
  padding: 50px;
}

.main .animai2 {
  color: #fff;
  background: #000;
  -webkit-box-shadow: 0 0 20px 0 #fff;
          box-shadow: 0 0 20px 0 #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 100px 0;
  padding: 50px;
}

.main .animai3 {
  color: #fff;
  background: #000;
  -webkit-box-shadow: 0 0 20px 0 #fff;
          box-shadow: 0 0 20px 0 #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 100px 0;
  padding: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  text-align: center;
  margin: 50px;
  height: 50vh;
  padding: 50px;
  background: url(img/Fotograft.png) no-repeat center center;
  border-radius: 1rem 1rem 1rem 1rem;
}

.footer .footer-title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 20px;
}

.footer [class^="footer__item"] {
  display: inline-block;
  padding: 20px;
}

.footer [class^="footer__item"] a {
  color: #fff;
  font-size: 2rem;
}

.footer [class^="footer__item"] a:hover {
  color: #ac7e00;
}

/*Pagina Contacto */
.main .socialnet {
  width: 100%;
  height: auto;
  border-top: #000;
  -webkit-box-shadow: 0 0 15px 0 #fff;
          box-shadow: 0 0 15px 0 #fff;
  background: #000;
}

.main .socialnet .text__social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .socialnet .text__social .title {
  color: #fcc203;
  padding: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
}

.main .socialnet .text__social .parraf {
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 150px;
  padding-bottom: 50px;
  font-size: 1.5rem;
}

/* Pagina Galeria */
.main .tp {
  color: #fff;
  text-shadow: 0 0 3px #fff;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 72, 4, 0.884)), to(#000000));
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #000000);
  border-bottom: 5px solid #000;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
}

.main .gallery {
  margin: 10px;
  padding-bottom: 1.5rem;
  display: -ms-grid;
  display: grid;
  gap: .8em;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  /* definimos cuantas columnas */
  grid-auto-rows: 160px;
  /* filas automaticas se completan cada una con 160px */
      grid-template-areas: "img10 img11 img12 img15" "img10 img13 img13 img15" "img10 img17 img17 img15" "img10 img16 img14 img15";
}

.main .gallery .gallery__picture {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.main .gallery .gallery__picture:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #70705d50;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .gallery .gallery__picture:hover::before {
  -webkit-transform: scale(1) rotate(360deg);
          transform: scale(1) rotate(360deg);
}

.main .gallery .gallery__picture--g1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: img10;
}

.main .gallery .gallery__picture--g2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: img11;
}

.main .gallery .gallery__picture--g3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img12;
}

.main .gallery .gallery__picture--g4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: img13;
}

.main .gallery .gallery__picture--g5 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: img14;
}

.main .gallery .gallery__picture--g6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 4;
  grid-area: img15;
}

.main .gallery .gallery__picture--g7 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: img16;
}

.main .gallery .gallery__picture--g8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: img17;
}

.main .gallery .gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .conten__video {
  width: 100%;
  height: auto;
  margin: 30px;
}

.main .conten__video .text__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

/* Pagina sobre mi */
.main .contenido2 {
  background: #eb0808;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 72, 4, 0.884)), to(#000000));
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #000000);
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #000000);
  text-align: center;
  width: 100%;
  height: auto;
  position: relative;
}

.main .contenido2 .title {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

.main .contenido2 .img__me {
  width: 90%;
  height: 400px;
  margin: 20px auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.main .contenido2 .parrafo {
  font-size: 1.3rem;
  text-align: left;
  margin: 20px 50px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  padding-bottom: 20px;
}

.main .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .content__maps {
  height: auto;
  margin: 20px auto;
}

.main .container .content__maps .text__maps {
  padding: 30px;
  text-align: center;
  color: #fcc203;
  font-size: 2rem;
  font-weight: bold;
}

/* pagina usuario */
.main .formulario {
  background: #eb0808;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 72, 4, 0.884)), to(#000000));
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #000000);
  background: linear-gradient(to bottom, rgba(243, 72, 4, 0.884), #000000);
  padding-bottom: 70px;
}

.main .formulario .form {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
  margin: auto;
  padding: 4.5em 4em;
  width: 90%;
  max-width: 400px;
  background-color: #f7b733;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 6px 0 #fff;
          box-shadow: 0 0 6px 0 #fff;
}

.main .formulario .form .form__title {
  font-size: 2rem;
  color: #fff;
}

.main .formulario .form .parraf {
  font-size: 1rem;
  font-weight: 300;
}

.main .formulario .form .parraf .form__link {
  color: #000;
  font-weight: bold;
}

.main .formulario .form__container {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.main .formulario .form__group {
  position: relative;
  color: #fff;
}

.main .formulario .form__input {
  width: 100%;
  background: none;
  color: #fff;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  font-family: 'Roboto', sans-serif;
}

.main .formulario .form__input:focus + .form__label,
.main .formulario .form__input:not(:placeholder-shown) + .form__label {
  -webkit-transform: translateY(-12px) scale(0.7);
          transform: translateY(-12px) scale(0.7);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  color: #fff;
}

.main .formulario .form__label {
  font-size: 1rem;
  color: #000;
  position: absolute;
  top: 0;
  left: 5px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: color .3s, -webkit-transform .5s;
  transition: color .3s, -webkit-transform .5s;
  transition: transform .5s, color .3s;
  transition: transform .5s, color .3s, -webkit-transform .5s;
}

.main .formulario .form__submit {
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  padding: .5em 0;
  -webkit-box-shadow: 0 0 6px 0 #000;
          box-shadow: 0 0 6px 0 #000;
}

.main .formulario .form__submit:hover {
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 6px 0 #fff;
          box-shadow: 0 0 6px 0 #fff;
}

.main .formulario .form__line {
  position: absolute;
}

/* media queries */
@media (max-width: 400px) {
  /* pagina index */
  .header {
    width: 100%;
    height: auto;
  }
  .header .bg-animate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .bg-animate .header_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .header .bg-animate .header_nav .contenedor h1 {
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
    color: #000;
  }
  .header .banner-contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .banner-contenedor .banner_title {
    max-width: 210px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  .header .banner-contenedor .banner_title .subtitle {
    text-align: left;
    font-size: 1.5rem;
  }
  .header .banner-contenedor .banner_title .llamanos {
    text-align: center;
    font-size: .8rem;
  }
  .header .banner-contenedor .banner_img {
    display: none;
  }
  .main .item__sociales {
    display: none;
  }
  .main .contenido {
    max-width: 400px;
  }
  .main .contenido .title {
    font-size: 1.5rem;
  }
  .main .contenido .parrafo {
    font-size: 0.8rem;
    text-align: left;
    max-width: 400px;
    padding: 0;
  }
  .main .contenido .butt {
    font-size: 1rem;
    padding: 10px;
  }
  .main #separador {
    max-width: 400px;
  }
  .main #separador .port {
    width: 150px;
    padding-top: 150px;
  }
  .main #separador .h2 {
    font-size: 1.4rem;
    padding-bottom: 20px;
  }
  .main #separador .eti {
    font-size: 1rem;
  }
  .main .animai .aosclass {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .animai2 .aosclass {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .animai3 .aosclass {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer {
    padding: 10px;
    background: none;
    text-align: center;
  }
}

/* pagina gallery */
@media (max-width: 400px) {
  .main .tp {
    font-size: 1.5rem;
  }
  .main .gallery {
    width: auto;
    height: auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img10 img15" "img10 img15" "img10 img15" "img11 img15" "img12 img16" "img13 img14 " "img17 img17" "img17 img17";
  }
  .main .gallery .gallery__img {
    width: 100%;
  }
  .main .conten__video {
    display: none;
  }
}

/* pagina sobre mi */
@media (max-width: 400px) {
  .main {
    overflow: hidden;
  }
  .main .maps-ubi {
    width: 100%;
  }
  .main .maps-ubi .content__maps {
    margin: 0;
  }
}

/*pagina contacto*/
@media (max-width: 400px) {
  .main .socialnet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .socialnet .text__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .socialnet .text__social .parraf {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/* pagina usuario */
@media (max-width: 400px) {
  .main .formulario {
    padding-top: 20px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */